body {
  background-color: #f2f6f8; }
  body h1, body h2, body h3, body h4, body h5, body h6, body input[type="text"], body input[type="password"], body input[type="email"], body textarea, body select, body input[type="button"], body input[type="submit"], body button, body span, body i, body strong, body p, body a {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #607d8b; }

.travel-wrapper {
  width: 100%;
  display: flex; }
  .travel-wrapper .travel-form {
    flex-basis: 30%;
    min-height: 100%;
    background: white;
    padding: 3rem;
    z-index: 2000; }
    .travel-wrapper .travel-form .content {
      width: 110%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translateX(5rem); }
      .travel-wrapper .travel-form .content .logo i {
        background: -webkit-linear-gradient(black, #ff3100);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 0.3rem;
        transform: rotateZ(-45deg); }
      .travel-wrapper .travel-form .content .logo strong {
        background: -webkit-linear-gradient(right, #ff3100, black);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 0.95rem; }
      .travel-wrapper .travel-form .content form h5 {
        margin-bottom: 1.5rem; }
        .travel-wrapper .travel-form .content form h5 strong {
          font-family: 'Poiret One', cursive;
          color: black;
          font-size: 1.5rem; }
      .travel-wrapper .travel-form .content form .form-group {
        margin-bottom: 1.5rem; }
        .travel-wrapper .travel-form .content form .form-group .form-control {
          border: none;
          background: white;
          box-shadow: 0 2px 5px -1px lightgrey;
          border-radius: 1px;
          height: 46px;
          border-left: 2px solid transparent;
          transition: all 300ms linear; }
          .travel-wrapper .travel-form .content form .form-group .form-control:focus {
            border-color: #ff3100;
            font-weight: 600; }
            .travel-wrapper .travel-form .content form .form-group .form-control:focus::-webkit-input-placeholder {
              color: black; }
      .travel-wrapper .travel-form .content form button[type='submit'] {
        width: 100%;
        height: 46px;
        background: #ff3100;
        color: white;
        border-radius: 1px; }
      .travel-wrapper .travel-form .content .social {
        width: 100%;
        display: flex; }
        .travel-wrapper .travel-form .content .social a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          text-decoration: none;
          box-shadow: 0 2px 10px 1px lightgrey;
          margin-right: 1rem; }
          .travel-wrapper .travel-form .content .social a.current {
            background: #ff3100; }
            .travel-wrapper .travel-form .content .social a.current i {
              color: white; }
    @media (max-width: 65.625em) {
      .travel-wrapper .travel-form {
        padding: 3rem 1rem; }
        .travel-wrapper .travel-form .content {
          width: 100%;
          transform: translateX(0); } }
  .travel-wrapper .travel-banner {
    flex-basis: 70%;
    min-height: 100%;
    z-index: 1000;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.57)), url("../img/space.jpg") top right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding: 3rem 3rem 3rem 12rem; }
    .travel-wrapper .travel-banner h1 {
      margin-bottom: 0;
      line-height: 0.8; }
      .travel-wrapper .travel-banner h1 strong {
        color: white;
        text-transform: uppercase;
        font-size: 7rem; }
    .travel-wrapper .travel-banner h3 strong {
      color: white;
      text-transform: uppercase;
      font-size: 4rem; }
    .travel-wrapper .travel-banner .see-thru {
      position: absolute;
      right: 0;
      bottom: 1.8rem;
      width: 60%;
      height: 34%;
      background: linear-gradient(to right, rgba(255, 32, 0, 0.6), rgba(255, 32, 0, 0.8)); }
    .travel-wrapper .travel-banner .travel-nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      padding: 3rem 6rem 3rem 3rem;
      display: flex;
      justify-content: flex-end; }
      .travel-wrapper .travel-banner .travel-nav ul li {
        margin-right: 2rem; }
        .travel-wrapper .travel-banner .travel-nav ul li a {
          text-decoration: none;
          color: white;
          text-transform: uppercase;
          font-size: 0.9rem; }
          .travel-wrapper .travel-banner .travel-nav ul li a span {
            color: #ff3100;
            text-transform: uppercase; }
    @media (max-width: 65.625em) {
      .travel-wrapper .travel-banner {
        padding: 3rem; }
        .travel-wrapper .travel-banner .travel-nav {
          padding: 3rem;
          justify-content: center; } }
    @media (max-width: 65.625em) and (max-width: 36.875em) {
      .travel-wrapper .travel-banner .travel-nav {
        padding: 3rem 1rem; } }
  @media (max-width: 65.625em) and (max-width: 36.875em) and (max-width: 28.125em) {
    .travel-wrapper .travel-banner .travel-nav ul li {
      margin-right: 0.4rem; }
      .travel-wrapper .travel-banner .travel-nav ul li a {
        font-size: 0.8rem; } }

  @media (max-width: 65.625em) and (max-width: 36.875em) {
    .travel-wrapper .travel-banner {
      padding: 1rem; }
      .travel-wrapper .travel-banner h1 strong {
        font-size: 4rem; }
      .travel-wrapper .travel-banner h3 strong {
        font-size: 1.5rem; } }

  @media (max-width: 52.1875em) {
    .travel-wrapper {
      flex-wrap: wrap; }
      .travel-wrapper .travel-form {
        flex-basis: 100%; }
        .travel-wrapper .travel-form .social {
          margin-top: 2rem; }
      .travel-wrapper .travel-banner {
        flex-basis: 100%;
        min-height: 450px;
        order: -1; } }

/*# sourceMappingURL=app.css.map */
